/* TYPOGRAPHIE SAN FRANCISCO PRODISPLAY */
/* NOTE: PAS TOUTES SONT IMPORTÉES */


/* AJOUT DES VARIABLES POUR MA PALETTE DE COULEURS */
:root {

  --bs-dark: #070911;
  --bs-dark-rgb: 7, 9, 17;

  --bs-warning: #ffc107; 
  --bs-warning-rgb: 255, 193, 7;

  --bs-light: #f8f9fa; 
  --bs-light-rgb: 248, 249, 250;

  --bs-success: #198741; 
  --bs-success-rgb: 25, 135, 84;
}

/* POUR TEXTE NORMAL */
@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/typo_san_francisco_pro_display/SF-Pro-Display-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

/* POUR TITRES PRINCIPAUX */
@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/typo_san_francisco_pro_display/SF-Pro-Display-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

/* POUR SOUS-TITRES */
@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/typo_san_francisco_pro_display/SF-Pro-Display-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

/* POUR SOUS-TITRES SECONDAIRES */
@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/typo_san_francisco_pro_display/SF-Pro-Display-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

/* ITALIQUE RÉGULAIRE */
@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/typo_san_francisco_pro_display/SF-Pro-Display-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

/* ITALIQUE GRAS */
@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/typo_san_francisco_pro_display/SF-Pro-Display-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

/* AJOUT DE LA POLICE SF PRO */
body {
  font-family: 'SF Pro Display', sans-serif;
}

/* TITRES PRINCIPAUX */
h1, h2, h3 {
  font-weight: 700;
}

/* SOUS-TITRES */
h4, h5, h6 {
  font-weight: 600; 
}

/* TEXTES GÉNÉRALES */
p, li, a, span, button {
  font-weight: 400;
}

/* TEXTES SECONDAIRES */
small, .text-muted {
  font-weight: 300; 
}

/* ITALIQUE */
em, i {
  font-style: italic;
}

/* CONTOUR ORANGE - TITRE PRINCIPAL - HEADER */
.halo-title {
  color: white; 
  -webkit-text-stroke: 2px orange; 
  text-shadow: 2px 2px 4px black; 
}
